<div style="padding:20px;">
	<h2>URL Management</h2>
	<a style="float:right;top:-30px;position:relative;" class="newRoute btn btn-success">New Route</a>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>URI</th>
				<th>Title</th>
				<th>Handler</th>
				<th>Authorisation</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="routeContent">
		{% for route in routes %}
				<tr id="routeRow{{route.id}}">
					<td>{{route.uri}}</td>
					<td>{{route.title}}</td>
					<td>{{route.handlerName}}</td>
					<td>{{route.authorisation}}</td>
					<td><a class="btn btn-mini{% if route.authorisation== "readonly" %} disabled {% else %} btn-primary editRoute {% endif %}" data-route-id= "{{route.id}}" >Edit</a>
						<a class="btn btn-mini{% if route.authorisation== "readonly" %} disabled {% else %} btn-danger deleteRoute {% endif %}" data-route-id= "{{route.id}}" style="margin-left:10px;">Delete</a></td>
				</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
			{% include "admin/URLManagement/editModal.twig" ignore missing %}
		<script src="{{ page.staticURL }}js/admin/URLManagement.js"></script>
